<a href="https://colab.research.google.com/github/entc-17-fyp-20/CM_Data_Visualizing/blob/main/Dataset4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Importing Libraries**

In [75]:
import numpy as np
import pandas as pd

# **Select Turbine**

In [76]:
#@title Select from T01-T83 { display-mode: "form" }
turbine = "T01" #@param ["T01", "T02", "T03", "T22", "T34","T54"]

# **Importing Datasets**

In [77]:
wind_path = '/content/drive/MyDrive/IIoT - Wind Turbine/Dulika/SCADA data - Anomaly Detection/Data set/Halkirk_MetTower_10min.xlsx'
df_wind = pd.read_excel(wind_path)
df_wind['PCTimeStamp'] = pd.to_datetime(df_wind['PCTimeStamp'], format="%m-%d-%Y %H:%M")
df_wind.drop('metname', axis='columns', inplace=True)
df_wind_final = df_wind[["PCTimeStamp","Avg_Windspeed1"]]
df_wind_final.rename(columns={'Avg_Windspeed1':'Wind Speed m/s'}, inplace=True)# Wind Speed
df_wind_final.rename(columns={'PCTimeStamp':'Date & Time'}, inplace=True)# Time
df_wind_final.dropna(how='all', inplace=True) # drop NaN columns
df_wind_final.set_index('Date & Time', inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [78]:
path1 = '/content/drive/MyDrive/IIoT - Wind Turbine/Dulika/SCADA data - Anomaly Detection/Data set/Turbine_10min_2018-6-1_2018-12-31/Turbine_10min_2018-6-1_2018-12-31_00_01-T_1-T_47.xlsx'
df1 = pd.read_excel(path1)

In [79]:
df1.drop([0],axis=0, inplace=True) # axis=0 rows/ inplace do the operation in the same line. 
df1['PCTimeStamp'] = pd.to_datetime(df1['PCTimeStamp'], format="%d-%m-%Y %H:%M:%S")
df1_filtered = df1[df1['turbine'] == turbine]

In [80]:
# path2 = '/content/drive/MyDrive/IIoT - Wind Turbine/Dulika/SCADA data/Data set/Turbine_10min_2018-6-1_2018-12-31/Turbine_10min_2018-6-1_2018-12-31_00_T_1-T_24.xlsx'
# df2 = pd.read_excel(path2)

In [81]:
# df2.drop([0],axis=0, inplace=True) # axis=0 rows/ inplace do the operation in the same line. 
# df2['PCTimeStamp'] = pd.to_datetime(df2['PCTimeStamp'], format="%d-%m-%Y %H:%M:%S")
# df2_filtered = df2[df2['turbine'] == turbine]

In [82]:
path3 = '/content/drive/MyDrive/IIoT - Wind Turbine/Dulika/SCADA data - Anomaly Detection/Data set/Turbine_10min_2018-6-1_2018-12-31/Turbine_10min_2018-6-1_2018-12-31_02-T_47-T-70.xlsx'
df3 = pd.read_excel(path3)

In [83]:
df3.drop([0],axis=0, inplace=True) # axis=0 rows/ inplace do the operation in the same line. 
df3['PCTimeStamp'] = pd.to_datetime(df3['PCTimeStamp'], format="%d-%m-%Y %H:%M:%S")
df3_filtered = df3[df3['turbine'] == turbine]

In [84]:
path4 = '/content/drive/MyDrive/IIoT - Wind Turbine/Dulika/SCADA data - Anomaly Detection/Data set/Turbine_10min_2018-6-1_2018-12-31/Turbine_10min_2018-6-1_2018-12-31_03-T_70-T_10.xlsx'
df4 = pd.read_excel(path4)

In [85]:
df4.drop([0],axis=0, inplace=True) # axis=0 rows/ inplace do the operation in the same line. 
df4['PCTimeStamp'] = pd.to_datetime(df4['PCTimeStamp'], format="%d-%m-%Y %H:%M:%S")
df4_filtered = df4[df4['turbine'] == turbine]

In [86]:
path5 = '/content/drive/MyDrive/IIoT - Wind Turbine/Dulika/SCADA data - Anomaly Detection/Data set/Turbine_10min_2018-6-1_2018-12-31/Turbine_10min_2018-6-1_2018-12-31_04-T_10-T_33.xlsx'
df5 = pd.read_excel(path5)

In [87]:
df5.drop([0],axis=0, inplace=True) # axis=0 rows/ inplace do the operation in the same line. 
df5['PCTimeStamp'] = pd.to_datetime(df5['PCTimeStamp'], format="%d-%m-%Y %H:%M:%S")
df5_filtered = df5[df5['turbine'] == turbine]

In [88]:
path6 = '/content/drive/MyDrive/IIoT - Wind Turbine/Dulika/SCADA data - Anomaly Detection/Data set/Turbine_10min_2018-6-1_2018-12-31/Turbine_10min_2018-6-1_2018-12-31_05 - T33-T55.xlsx'
df6 = pd.read_excel(path6)

In [89]:
df6.drop([0],axis=0, inplace=True) # axis=0 rows/ inplace do the operation in the same line. 
df6['PCTimeStamp'] = pd.to_datetime(df6['PCTimeStamp'], format="%d-%m-%Y %H:%M:%S")
df6_filtered = df6[df6['turbine'] == turbine]

In [90]:
path7 = '/content/drive/MyDrive/IIoT - Wind Turbine/Dulika/SCADA data - Anomaly Detection/Data set/Turbine_10min_2018-6-1_2018-12-31/Turbine_10min_2018-6-1_2018-12-31_06-T_55-T_78.xlsx'
df7 = pd.read_excel(path7)

In [91]:
df7.drop([0],axis=0, inplace=True) # axis=0 rows/ inplace do the operation in the same line. 
df7['PCTimeStamp'] = pd.to_datetime(df7['PCTimeStamp'], format="%d-%m-%Y %H:%M:%S")
df7_filtered = df7[df7['turbine'] == turbine]

In [92]:
path8 = '/content/drive/MyDrive/IIoT - Wind Turbine/Dulika/SCADA data - Anomaly Detection/Data set/Turbine_10min_2018-6-1_2018-12-31/Turbine_10min_2018-6-1_2018-12-31_07.xlsx'
df8 = pd.read_excel(path8)

In [93]:
df8.drop([0],axis=0, inplace=True) # axis=0 rows/ inplace do the operation in the same line. 
df8['PCTimeStamp'] = pd.to_datetime(df8['PCTimeStamp'], format="%d-%m-%Y %H:%M:%S")
df8_filtered = df8[df8['turbine'] == turbine]

In [94]:
path9 = '/content/drive/MyDrive/IIoT - Wind Turbine/Dulika/SCADA data - Anomaly Detection/Data set/Turbine_10min_2018-6-1_2018-12-31/Turbine_10min_2018-6-1_2018-12-31_08-T_18-T-43.xlsx'
df9 = pd.read_excel(path9)

In [95]:
df9.drop([0],axis=0, inplace=True) # axis=0 rows/ inplace do the operation in the same line. 
df9['PCTimeStamp'] = pd.to_datetime(df9['PCTimeStamp'], format="%d-%m-%Y %H:%M:%S")
df9_filtered = df9[df9['turbine'] == turbine]

In [96]:
path10 = '/content/drive/MyDrive/IIoT - Wind Turbine/Dulika/SCADA data - Anomaly Detection/Data set/Turbine_10min_2018-6-1_2018-12-31/Turbine_10min_2018-6-1_2018-12-31_09-T43-T_66.xlsx'
df10 = pd.read_excel(path10)

In [97]:
df10.drop([0],axis=0, inplace=True) # axis=0 rows/ inplace do the operation in the same line. 
df10['PCTimeStamp'] = pd.to_datetime(df10['PCTimeStamp'], format="%d-%m-%Y %H:%M:%S")
df10_filtered = df10[df10['turbine'] == turbine]

In [98]:
path11 = '/content/drive/MyDrive/IIoT - Wind Turbine/Dulika/SCADA data - Anomaly Detection/Data set/Turbine_10min_2018-6-1_2018-12-31/Turbine_10min_2018-6-1_2018-12-31_10.xlsx'
df11 = pd.read_excel(path11)

In [99]:
df11.drop([0],axis=0, inplace=True) # axis=0 rows/ inplace do the operation in the same line. 
df11['PCTimeStamp'] = pd.to_datetime(df11['PCTimeStamp'], format="%d-%m-%Y %H:%M:%S")
df11_filtered = df11[df11['turbine'] == turbine]

In [100]:
path12 = '/content/drive/MyDrive/IIoT - Wind Turbine/Dulika/SCADA data - Anomaly Detection/Data set/Turbine_10min_2018-6-1_2018-12-31/Turbine_10min_2018-6-1_2018-12-31_11_T_07-T_31.xlsx'
df12 = pd.read_excel(path12)

In [101]:
df12.drop([0],axis=0, inplace=True) # axis=0 rows/ inplace do the operation in the same line. 
df12['PCTimeStamp'] = pd.to_datetime(df12['PCTimeStamp'], format="%d-%m-%Y %H:%M:%S")
df12_filtered = df12[df12['turbine'] == turbine]

In [102]:
path13 = '/content/drive/MyDrive/IIoT - Wind Turbine/Dulika/SCADA data - Anomaly Detection/Data set/Turbine_10min_2018-6-1_2018-12-31/Turbine_10min_2018-6-1_2018-12-31_12.xlsx'
df13 = pd.read_excel(path13)

In [103]:
df13.drop([0],axis=0, inplace=True) # axis=0 rows/ inplace do the operation in the same line. 
df13['PCTimeStamp'] = pd.to_datetime(df13['PCTimeStamp'], format="%d-%m-%Y %H:%M:%S")
df13_filtered = df13[df13['turbine'] == turbine]

In [104]:
path14 = '/content/drive/MyDrive/IIoT - Wind Turbine/Dulika/SCADA data - Anomaly Detection/Data set/Turbine_10min_2018-6-1_2018-12-31/Turbine_10min_2018-6-1_2018-12-31_13_T_55-T_79.xlsx'
df14 = pd.read_excel(path14)

In [105]:
df14.drop([0],axis=0, inplace=True) # axis=0 rows/ inplace do the operation in the same line. 
df14['PCTimeStamp'] = pd.to_datetime(df14['PCTimeStamp'], format="%d-%m-%Y %H:%M:%S")
df14_filtered = df14[df14['turbine'] == turbine]

In [106]:
path15 = '/content/drive/MyDrive/IIoT - Wind Turbine/Dulika/SCADA data - Anomaly Detection/Data set/Turbine_10min_2018-6-1_2018-12-31/Turbine_10min_2018-6-1_2018-12-31_14.xlsx'
df15 = pd.read_excel(path15)

In [107]:
df15.drop([0],axis=0, inplace=True) # axis=0 rows/ inplace do the operation in the same line. 
df15['PCTimeStamp'] = pd.to_datetime(df15['PCTimeStamp'], format="%d-%m-%Y %H:%M:%S")
df15_filtered = df15[df15['turbine'] == turbine]

In [108]:
path16 = '/content/drive/MyDrive/IIoT - Wind Turbine/Dulika/SCADA data - Anomaly Detection/Data set/Turbine_10min_2018-6-1_2018-12-31/Turbine_10min_2018-6-1_2018-12-31_15-T_18_T_41.xlsx'
df16 = pd.read_excel(path16)

In [109]:
df16.drop([0],axis=0, inplace=True) # axis=0 rows/ inplace do the operation in the same line. 
df16['PCTimeStamp'] = pd.to_datetime(df16['PCTimeStamp'], format="%d-%m-%Y %H:%M:%S")
df16_filtered = df16[df16['turbine'] == turbine]

In [110]:
path17 = '/content/drive/MyDrive/IIoT - Wind Turbine/Dulika/SCADA data - Anomaly Detection/Data set/Turbine_10min_2018-6-1_2018-12-31/Turbine_10min_2018-6-1_2018-12-31_16-T_41-T_63.xlsx'
df17 = pd.read_excel(path17)

In [111]:
df17.drop([0],axis=0, inplace=True) # axis=0 rows/ inplace do the operation in the same line. 
df17['PCTimeStamp'] = pd.to_datetime(df17['PCTimeStamp'], format="%d-%m-%Y %H:%M:%S")
df17_filtered = df17[df17['turbine'] == turbine]

In [112]:
path18 = '/content/drive/MyDrive/IIoT - Wind Turbine/Dulika/SCADA data - Anomaly Detection/Data set/Turbine_10min_2018-6-1_2018-12-31/Turbine_10min_2018-6-1_2018-12-31_17.xlsx'
df18 = pd.read_excel(path18)

In [113]:
df18.drop([0],axis=0, inplace=True) # axis=0 rows/ inplace do the operation in the same line. 
df18['PCTimeStamp'] = pd.to_datetime(df18['PCTimeStamp'], format="%d-%m-%Y %H:%M:%S")
df18_filtered = df18[df18['turbine'] == turbine]

In [114]:
path19 = '/content/drive/MyDrive/IIoT - Wind Turbine/Dulika/SCADA data - Anomaly Detection/Data set/Turbine_10min_2018-6-1_2018-12-31/Turbine_10min_2018-6-1_2018-12-31_18-T_03-T_27.xlsx'
df19 = pd.read_excel(path19)

In [115]:
df19.drop([0],axis=0, inplace=True) # axis=0 rows/ inplace do the operation in the same line. 
df19['PCTimeStamp'] = pd.to_datetime(df19['PCTimeStamp'], format="%d-%m-%Y %H:%M:%S")
df19_filtered = df19[df19['turbine'] == turbine]

In [116]:
path20 = '/content/drive/MyDrive/IIoT - Wind Turbine/Dulika/SCADA data - Anomaly Detection/Data set/Turbine_10min_2018-6-1_2018-12-31/Turbine_10min_2018-6-1_2018-12-31_19.xlsx'
df20 = pd.read_excel(path20)

In [117]:
df20.drop([0],axis=0, inplace=True) # axis=0 rows/ inplace do the operation in the same line. 
df20['PCTimeStamp'] = pd.to_datetime(df20['PCTimeStamp'], format="%d-%m-%Y %H:%M:%S")
df20_filtered = df20[df20['turbine'] == turbine]

In [118]:
path21 = '/content/drive/MyDrive/IIoT - Wind Turbine/Dulika/SCADA data - Anomaly Detection/Data set/Turbine_10min_2018-6-1_2018-12-31/Turbine_10min_2018-6-1_2018-12-31_20.xlsx'
df21 = pd.read_excel(path21)

In [119]:
df21.drop([0],axis=0, inplace=True) # axis=0 rows/ inplace do the operation in the same line. 
df21['PCTimeStamp'] = pd.to_datetime(df21['PCTimeStamp'], format="%d-%m-%Y %H:%M:%S")
df21_filtered = df21[df21['turbine'] == turbine]

In [120]:
path22 = '/content/drive/MyDrive/IIoT - Wind Turbine/Dulika/SCADA data - Anomaly Detection/Data set/Turbine_10min_2018-6-1_2018-12-31/Turbine_10min_2018-6-1_2018-12-31_21-T_73-T_14.xlsx'
df22 = pd.read_excel(path22)

In [121]:
df22.drop([0],axis=0, inplace=True) # axis=0 rows/ inplace do the operation in the same line. 
df22['PCTimeStamp'] = pd.to_datetime(df22['PCTimeStamp'], format="%d-%m-%Y %H:%M:%S")
df22_filtered = df22[df22['turbine'] == turbine]

In [122]:
path23 = '/content/drive/MyDrive/IIoT - Wind Turbine/Dulika/SCADA data - Anomaly Detection/Data set/Turbine_10min_2018-6-1_2018-12-31/Turbine_10min_2018-6-1_2018-12-31_22-T_14-T_37.xlsx'
df23 = pd.read_excel(path23)

In [123]:
df23.drop([0],axis=0, inplace=True) # axis=0 rows/ inplace do the operation in the same line. 
df23['PCTimeStamp'] = pd.to_datetime(df23['PCTimeStamp'], format="%d-%m-%Y %H:%M:%S")
df23_filtered = df23[df23['turbine'] == turbine]

In [124]:
path24 = '/content/drive/MyDrive/IIoT - Wind Turbine/Dulika/SCADA data - Anomaly Detection/Data set/Turbine_10min_2018-6-1_2018-12-31/Turbine_10min_2018-6-1_2018-12-31_23.xlsx'
df24 = pd.read_excel(path24)

In [125]:
df24.drop([0],axis=0, inplace=True) # axis=0 rows/ inplace do the operation in the same line. 
df24['PCTimeStamp'] = pd.to_datetime(df24['PCTimeStamp'], format="%d-%m-%Y %H:%M:%S")
df24_filtered = df24[df24['turbine'] == turbine]

In [126]:
path25 = '/content/drive/MyDrive/IIoT - Wind Turbine/Dulika/SCADA data - Anomaly Detection/Data set/Turbine_10min_2018-6-1_2018-12-31/Turbine_10min_2018-6-1_2018-12-31_24.xlsx'
df25 = pd.read_excel(path25)

In [127]:
df25.drop([0],axis=0, inplace=True) # axis=0 rows/ inplace do the operation in the same line. 
df25['PCTimeStamp'] = pd.to_datetime(df25['PCTimeStamp'], format="%d-%m-%Y %H:%M:%S")
df25_filtered = df25[df25['turbine'] == turbine]

# **Merging**

In [138]:
frames = [df1_filtered, df3_filtered, df4_filtered, df5_filtered, df6_filtered, df7_filtered, df8_filtered, df9_filtered, df10_filtered, df11_filtered, df12_filtered, df13_filtered, df14_filtered, df15_filtered, df16_filtered, df17_filtered, df18_filtered, df19_filtered, df20_filtered, df21_filtered, df22_filtered, df23_filtered, df24_filtered, df25_filtered]
result = pd.concat(frames)
result.rename(columns={'PCTimeStamp':'Date & Time'}, inplace=True) # Date and Time
result.rename(columns={'Amb_Temp_Avg':'Ambient Temperature'}, inplace=True) # Ambient Temperature
result.dropna(how='all', axis=1, inplace = True) # drop NaN columns
result.set_index('Date & Time', inplace = True) # set index
result.drop('turbine', axis='columns', inplace=True)

In [142]:
df_final = pd.merge(result, df_wind_final, left_index=True, right_index=True).reset_index() # Adding data time index back as a column

In [135]:
df_final

              Date & Time Ambient Temperature  ... Nac_Direction_Avg Wind Speed m/s
0     2018-06-01 00:00:00                  10  ...              91.1            6.7
1     2018-06-01 00:10:00                  10  ...              91.1            6.7
2     2018-06-01 00:20:00                  10  ...              91.1            6.6
3     2018-06-01 00:30:00                  10  ...              91.1            6.0
4     2018-06-01 00:40:00                  10  ...              91.1            6.2
...                   ...                 ...  ...               ...            ...
29251 2018-12-29 18:10:00                  -3  ...             123.8            7.1
29252 2018-12-29 18:20:00                  -3  ...             125.4            6.9
29253 2018-12-29 18:30:00                  -3  ...             125.4            7.7
29254 2018-12-29 18:40:00                  -3  ...             130.5            8.0
29255 2018-12-29 18:50:00                  -4  ...               134            9.8

[29256 rows x 38 columns]

# File Saving

In [131]:
path = 'drive/MyDrive/DatasetsWind/' + turbine + '_4.csv'
df_final.to_csv(path, index=False)