<a href="https://colab.research.google.com/github/entc-17-fyp-20/CM_Data_Visualizing/blob/main/LogData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from numpy import array
from numpy import hstack
import pandas as pd
import numpy as np
from sklearn import preprocessing
from datetime import datetime

import plotly.graph_objects as go

In [71]:
path = '/content/drive/MyDrive/IIoT - Wind Turbine/FYP/Dataset/LogData/log_data.csv'
df = pd.read_csv(path)
df = df.drop([268538,268539], axis=0)
df = df[df['EventCodeText']!='Pause over RCS __']

In [72]:
#@title Select turbine
turbine_number =   9#@param {type:"integer"}
if len(str(turbine_number))==2:
  turbine = "T"+str(turbine_number)
else:
  turbine = "T0"+str(turbine_number)

In [73]:
df = df[df['Turbine']==turbine]

In [74]:
path1 = '/content/drive/MyDrive/IIoT - Wind Turbine/FYP/Dataset/LogData/' + turbine + '.xlsx'
df.to_excel(path1, index=False)

In [75]:
df

       Turbine         TimeDetected  ... Paramtere1  Paramtere2
73         T09  2017-01-03 10:50:18  ...        0.0         0.0
108        T09  2017-01-03 11:11:09  ...        0.0         0.0
176        T09   2017-01-04 3:18:44  ...        0.0         0.0
177        T09   2017-01-04 3:18:46  ...    15815.0         0.0
312        T09   2017-01-03 5:38:05  ...       24.0         0.0
...        ...                  ...  ...        ...         ...
254947     T09  2018-12-26 12:54:13  ...        0.0         0.0
262325     T09   2018-12-27 5:42:17  ...        0.0         0.0
263433     T09  2018-12-27 10:58:14  ...        0.0         0.0
265288     T09  2018-12-27 16:10:14  ...        0.0         0.0
265352     T09  2018-12-27 16:32:07  ...        0.0         0.0

[587 rows x 10 columns]