<a href="https://colab.research.google.com/github/entc-17-fyp-20/CM_Data_Visualizing/blob/main/Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Intro

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from numpy.random import seed

In [2]:
url1 = 'https://raw.githubusercontent.com/entc-17-fyp-20/Datasets/main/S6%2010%20seconed%20data.csv' #S6 10 seconed data.csv
url2 = 'https://raw.githubusercontent.com/entc-17-fyp-20/Datasets/main/AE59_1.csv' #AE59_1
url3 = 'https://raw.githubusercontent.com/entc-17-fyp-20/Datasets/main/AE59_2.csv' #AE59_2
url4 = 'https://raw.githubusercontent.com/entc-17-fyp-20/Datasets/main/V08%20June%2010%20sec%20data.csv' #V08 June 10 sec data.csv
url5 = 'https://raw.githubusercontent.com/entc-17-fyp-20/Datasets/main/V13%20June%2010%20sec%20data.csv' #V13 June 10 sec data.csv
url6 = 'https://raw.githubusercontent.com/entc-17-fyp-20/Datasets/main/V08%20July%2010%20sec%20data.csv' #V08 July 10 sec data.csv
url7 = 'https://raw.githubusercontent.com/entc-17-fyp-20/Datasets/main/V13%20July%2010%20sec%20data.csv' #V13 July 10 sec data.csv

#V08 June

In [3]:
df4 = pd.read_csv(url4)

In [4]:
df4

                 Unnamed: 0  ...  Gearbox Bearing Temperature
0       02/06/2021 00:00:00  ...                         29.2
1       02/06/2021 00:00:10  ...                         29.2
2       02/06/2021 00:00:20  ...                         29.2
3       02/06/2021 00:00:30  ...                         29.2
4       02/06/2021 00:00:40  ...                         29.1
...                     ...  ...                          ...
190075  30/06/2021 23:59:10  ...                         72.2
190076  30/06/2021 23:59:20  ...                         72.3
190077  30/06/2021 23:59:30  ...                         72.4
190078  30/06/2021 23:59:40  ...                         72.3
190079  30/06/2021 23:59:50  ...                         72.3

[190080 rows x 21 columns]

#V08 July