<a href="https://colab.research.google.com/github/entc-17-fyp-20/CM_Data_Visualizing/blob/samal/Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Intro

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from numpy.random import seed

In [2]:
url1 = 'https://raw.githubusercontent.com/entc-17-fyp-20/Datasets/main/S6%2010%20seconed%20data.csv' #S6 10 seconed data.csv
url2 = 'https://raw.githubusercontent.com/entc-17-fyp-20/Datasets/main/AE59_1.csv' #AE59_1
url3 = 'https://raw.githubusercontent.com/entc-17-fyp-20/Datasets/main/AE59_2.csv' #AE59_2
url4 = 'https://raw.githubusercontent.com/entc-17-fyp-20/Datasets/main/V08%20June%2010%20sec%20data.csv' #V08 June 10 sec data.csv
url5 = 'https://raw.githubusercontent.com/entc-17-fyp-20/Datasets/main/V13%20June%2010%20sec%20data.csv' #V13 June 10 sec data.csv
url6 = 'https://raw.githubusercontent.com/entc-17-fyp-20/Datasets/main/V08%20July%2010%20sec%20data.csv' #V08 July 10 sec data.csv
url7 = 'https://raw.githubusercontent.com/entc-17-fyp-20/Datasets/main/V13%20July%2010%20sec%20data.csv' #V13 July 10 sec data.csv

#V08 June

In [3]:
df4 = pd.read_csv(url4)

In [4]:
df4

                Date & Time  ...  Gearbox Bearing Temperature
0       02/06/2021 00:00:00  ...                         29.2
1       02/06/2021 00:00:10  ...                         29.2
2       02/06/2021 00:00:20  ...                         29.2
3       02/06/2021 00:00:30  ...                         29.2
4       02/06/2021 00:00:40  ...                         29.1
...                     ...  ...                          ...
190075  30/06/2021 23:59:10  ...                         72.2
190076  30/06/2021 23:59:20  ...                         72.3
190077  30/06/2021 23:59:30  ...                         72.4
190078  30/06/2021 23:59:40  ...                         72.3
190079  30/06/2021 23:59:50  ...                         72.3

[190080 rows x 21 columns]

In [6]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190080 entries, 0 to 190079
Data columns (total 21 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Date & Time                            190080 non-null  object
 1   Voltage Phase R                        190080 non-null  float64
 2   Voltage Phase  S                       190080 non-null  float64
 3   Voltage Phase T                        190080 non-null  float64
 4   Hydraulic unit Pressure in bar         190080 non-null  float64
 5   Frequency Hz                           190080 non-null  float64
 6   Nacelle Temperature                    190080 non-null  float64
 7   Reactive Power kVAR                    190080 non-null  float64
 8   Active Power kW                        190080 non-null  float64
 9   Wind Speed m/s                         190080 non-null  float64
 10  Ambient Temperature                    190080 non-null  float64
 11  Gearbox oil Temperature                190080 non-null  float64
 12  Generator Winding Temperature Phase T  190080 non-null  float64
 13  Generator Winding Temperature Phase S  190080 non-null  float64
 14  Generator Winding Temperature Phase R  190080 non-null  float64
 15  Hydralic Oil Temperature               190080 non-null  float64
 16  Main bearing Temperature               190080 non-null  float64
 17  Generator Bearing Temperature DE       190080 non-null  float64
 18  Generator Bearing Temperature NDE      190080 non-null  float64
 19  Generator RPM                          190080 non-null  float64
 20  Gearbox Bearing Temperature            190080 non-null  float64
dtypes: float64(20), object(1)
memory usage: 30.5+ MB

In [13]:
df4["voltage"] = (df4["Voltage Phase R"] + df4["Voltage Phase  S"]+ df4["Voltage Phase T"])/3
#df4["current"]  = (df4["Current Phase R"] + df4["Current Phase  S"]+ df4["Current Phase T"])/3
df4["Gearbox & Bearing temp"]  = (df4["Gearbox Bearing Temperature"] + df4["Gearbox oil Temperature"]+ df4["Generator Winding Temperature Phase R"]+df4["Generator Winding Temperature Phase S"]+df4["Generator Winding Temperature Phase T"]+df4["Main bearing Temperature"] + df4["Generator Bearing Temperature DE"]+ df4["Generator Bearing Temperature NDE"])/8


df4.drop(["Reactive Power kVAR", "Frequency Hz","Voltage Phase R","Voltage Phase  S","Voltage Phase T","Gearbox Bearing Temperature","Gearbox oil Temperature","Generator Winding Temperature Phase R","Generator Winding Temperature Phase S","Generator Winding Temperature Phase T","Main bearing Temperature","Generator Bearing Temperature DE","Generator Bearing Temperature NDE"], axis='columns', inplace=True)

In [14]:
df4

                Date & Time  ...  Gearbox & Bearing temp
0       02/06/2021 00:00:00  ...                 31.0250
1       02/06/2021 00:00:10  ...                 31.0375
2       02/06/2021 00:00:20  ...                 31.0250
3       02/06/2021 00:00:30  ...                 31.0125
4       02/06/2021 00:00:40  ...                 31.0250
...                     ...  ...                     ...
190075  30/06/2021 23:59:10  ...                 81.6375
190076  30/06/2021 23:59:20  ...                 81.6625
190077  30/06/2021 23:59:30  ...                 81.7125
190078  30/06/2021 23:59:40  ...                 81.7625
190079  30/06/2021 23:59:50  ...                 81.6250

[190080 rows x 10 columns]

#V08 July

In [15]:
df6 = pd.read_csv(url6)

In [16]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186493 entries, 0 to 186492
Data columns (total 24 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Date & Time                            186493 non-null  object
 1   Voltage Phase R                        186493 non-null  float64
 2   Voltage Phase  S                       186493 non-null  float64
 3   Voltage Phase T                        186493 non-null  float64
 4   Current Phase R                        186493 non-null  float64
 5   Current Phase S                        186493 non-null  float64
 6   Current Phase T                        186493 non-null  float64
 7   Frequency Hz                           186493 non-null  float64
 8   Active Power kW                        186493 non-null  float64
 9   Reactive Power kVAR                    186493 non-null  float64
 10  Wind Speed m/s                         186493 non-null  float64
 11  Nacelle Temperature                    186493 non-null  float64
 12  Ambient Temperature                    186493 non-null  float64
 13  Gearbox oil Temperature                186493 non-null  float64
 14  Gearbox Bearing Temperature            186493 non-null  float64
 15  Generator Winding Temperature Phase R  186493 non-null  float64
 16  Generator Winding Temperature Phase S  186493 non-null  float64
 17  Generator Winding Temperature Phase T  186493 non-null  float64
 18  Hydraulic unit Pressure in bar         186493 non-null  float64
 19  Hydralic Oil Temperature               186493 non-null  float64
 20  Main bearing Temperature               186493 non-null  float64
 21  Generator Bearing Temperature NDE      186493 non-null  float64
 22  Generator Bearing Temperature DE       186493 non-null  float64
 23  Generator RPM                          186493 non-null  float64
dtypes: float64(23), object(1)
memory usage: 34.1+ MB

In [20]:
df6["voltage"] = (df6["Voltage Phase R"] + df6["Voltage Phase  S"]+ df6["Voltage Phase T"])/3
df6["current"]  = (df6["Current Phase R"] + df6["Current Phase S"]+ df6["Current Phase T"])/3
df6["Gearbox & Bearing temp"]  = (df6["Gearbox Bearing Temperature"] + df6["Gearbox oil Temperature"]+ df6["Generator Winding Temperature Phase R"]+df6["Generator Winding Temperature Phase S"]+df6["Generator Winding Temperature Phase T"]+df6["Main bearing Temperature"] + df6["Generator Bearing Temperature DE"]+ df6["Generator Bearing Temperature NDE"])/8


df6.drop(["Reactive Power kVAR", "Frequency Hz","Voltage Phase R","Voltage Phase  S","Voltage Phase T","Current Phase R","Current Phase S","Current Phase T","Gearbox Bearing Temperature","Gearbox oil Temperature","Generator Winding Temperature Phase R","Generator Winding Temperature Phase S","Generator Winding Temperature Phase T","Main bearing Temperature","Generator Bearing Temperature DE","Generator Bearing Temperature NDE"], axis='columns', inplace=True)

In [21]:
df6

                Date & Time  ...  Gearbox & Bearing temp
0       11/07/2021 00:00:00  ...                 97.0625
1       11/07/2021 00:00:10  ...                 97.0625
2       11/07/2021 00:00:20  ...                 96.9375
3       11/07/2021 00:00:30  ...                 97.0375
4       11/07/2021 00:00:40  ...                 96.9875
...                     ...  ...                     ...
186488  01/08/2021 14:01:20  ...                 72.2625
186489  01/08/2021 14:01:30  ...                 72.2000
186490  01/08/2021 14:01:40  ...                 72.0625
186491  01/08/2021 14:01:50  ...                 72.1000
186492  01/08/2021 14:02:00  ...                 72.1875

[186493 rows x 11 columns]

## V13 July

In [22]:
df7 = pd.read_csv(url7)
df7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186493 entries, 0 to 186492
Data columns (total 24 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Date & Time                            186493 non-null  object
 1   Voltage Phase R                        186493 non-null  float64
 2   Voltage Phase S                        186493 non-null  float64
 3   Voltage Phase T                        186493 non-null  float64
 4   Current Phase R                        186493 non-null  float64
 5   Current Phase S                        186493 non-null  float64
 6   Current Phase T                        186493 non-null  float64
 7   Frequency Hz                           186493 non-null  float64
 8   Active Power kW                        186493 non-null  float64
 9   Reactive Power kVAR                    186493 non-null  float64
 10  Wind Speed m/s                         186493 non-null  float64
 11  Nacelle Temperature                    186493 non-null  float64
 12  Ambient Temperature                    186493 non-null  float64
 13  Gearbox oil Temperature                186493 non-null  float64
 14  Gearbox Bearing Temperature            186493 non-null  float64
 15  Generator Winding Temperature Phase R  186493 non-null  float64
 16  Generator Winding Temperature Phase S  186493 non-null  float64
 17  Generator Winding Temperature Phase T  186493 non-null  float64
 18  Hydraulic unit Pressure in bar         186493 non-null  float64
 19  Hydralic Oil Temperature               186493 non-null  float64
 20  Main bearing Temperature               186493 non-null  float64
 21  Generator Bearing Temperature NDE      186493 non-null  float64
 22  Generator Bearing Temperature DE       186493 non-null  float64
 23  Generator RPM                          186493 non-null  float64
dtypes: float64(23), object(1)
memory usage: 34.1+ MB

In [26]:
df7["voltage"] = (df7["Voltage Phase R"] + df7["Voltage Phase S"]+ df7["Voltage Phase T"])/3
df7["current"]  = (df7["Current Phase R"] + df7["Current Phase S"]+ df7["Current Phase T"])/3
df7["Gearbox & Bearing temp"]  = (df7["Gearbox Bearing Temperature"] + df7["Gearbox oil Temperature"]+ df7["Generator Winding Temperature Phase R"]+df7["Generator Winding Temperature Phase S"]+df7["Generator Winding Temperature Phase T"]+df7["Main bearing Temperature"] + df7["Generator Bearing Temperature DE"]+ df7["Generator Bearing Temperature NDE"])/8


df7.drop(["Reactive Power kVAR", "Frequency Hz","Voltage Phase R","Voltage Phase S","Voltage Phase T","Current Phase R","Current Phase S","Current Phase T","Gearbox Bearing Temperature","Gearbox oil Temperature","Generator Winding Temperature Phase R","Generator Winding Temperature Phase S","Generator Winding Temperature Phase T","Main bearing Temperature","Generator Bearing Temperature DE","Generator Bearing Temperature NDE"], axis='columns', inplace=True)

In [27]:
df7

                Date & Time  ...  Gearbox & Bearing temp
0       11/07/2021 00:00:00  ...                 38.6000
1       11/07/2021 00:00:10  ...                 38.5750
2       11/07/2021 00:00:20  ...                 38.5750
3       11/07/2021 00:00:30  ...                 38.5500
4       11/07/2021 00:00:40  ...                 38.5625
...                     ...  ...                     ...
186488  01/08/2021 14:01:20  ...                 70.3375
186489  01/08/2021 14:01:30  ...                 70.3250
186490  01/08/2021 14:01:40  ...                 70.4000
186491  01/08/2021 14:01:50  ...                 70.4875
186492  01/08/2021 14:02:00  ...                 70.3000

[186493 rows x 11 columns]

### V13 June

In [28]:
df5 = pd.read_csv(url5)
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190038 entries, 0 to 190037
Data columns (total 24 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Date & Time                        190038 non-null  object
 1   Voltage Phase R                    190038 non-null  float64
 2   Voltage Phase S                    190038 non-null  float64
 3   Voltage Phase T                    190038 non-null  float64
 4   Frequency Hz                       190038 non-null  float64
 5   Current Phase R                    190038 non-null  float64
 6   Current Phase S                    190038 non-null  float64
 7   Current Phase T                    190038 non-null  float64
 8   Reactive Power kVAR                190038 non-null  float64
 9   Active Power kW                    190038 non-null  float64
 10  Wind Speed m/s                     190038 non-null  float64
 11  Nacelle Temperature                190038 non-null  float64
 12  Ambient Temperature                190038 non-null  float64
 13  Gearbox oil Temperature            190038 non-null  float64
 14  Gearbox Bearing Temperature        190038 non-null  float64
 15  Generator Winding Temperature R    190038 non-null  float64
 16  Generator Winding Temperature S    190038 non-null  float64
 17  Generator Winding Temperature T    190038 non-null  float64
 18  Hydraulic unit Pressure in bar     190038 non-null  float64
 19  Hydraulic oil Temperature          190038 non-null  float64
 20  Main bearing Temperature           190038 non-null  float64
 21  Generator Bearing Temperature DE   190038 non-null  float64
 22  Generator Bearing Temperature NDE  190038 non-null  float64
 23  Generator RPM                      190038 non-null  float64
dtypes: float64(23), object(1)
memory usage: 34.8+ MB

In [30]:
df5["voltage"] = (df5["Voltage Phase R"] + df5["Voltage Phase S"]+ df5["Voltage Phase T"])/3
df5["current"]  = (df5["Current Phase R"] + df5["Current Phase S"]+ df5["Current Phase T"])/3
df5["Gearbox & Bearing temp"]  = (df5["Gearbox Bearing Temperature"] + df5["Gearbox oil Temperature"]+ df5["Generator Winding Temperature R"]+df5["Generator Winding Temperature S"]+df5["Generator Winding Temperature T"]+df5["Main bearing Temperature"] + df5["Generator Bearing Temperature DE"]+ df5["Generator Bearing Temperature NDE"])/8


df5.drop(["Reactive Power kVAR", "Frequency Hz","Voltage Phase R","Voltage Phase S","Voltage Phase T","Current Phase R","Current Phase S","Current Phase T","Gearbox Bearing Temperature","Gearbox oil Temperature","Generator Winding Temperature R","Generator Winding Temperature S","Generator Winding Temperature T","Main bearing Temperature","Generator Bearing Temperature DE","Generator Bearing Temperature NDE"], axis='columns', inplace=True)

In [31]:
df5

                Date & Time  ...  Gearbox & Bearing temp
0       02/06/2021 00:00:00  ...                 82.8000
1       02/06/2021 00:00:10  ...                 82.7375
2       02/06/2021 00:00:20  ...                 82.9000
3       02/06/2021 00:00:30  ...                 82.6875
4       02/06/2021 00:00:40  ...                 82.8250
...                     ...  ...                     ...
190033  30/06/2021 23:43:10  ...                 82.0375
190034  30/06/2021 23:43:20  ...                 81.9375
190035  30/06/2021 23:43:30  ...                 81.9375
190036  30/06/2021 23:43:40  ...                 81.8250
190037  30/06/2021 23:43:50  ...                 81.9500

[190038 rows x 11 columns]

AE59_1

In [62]:
df2 = pd.read_csv(url2)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17280 entries, 0 to 17279
Data columns (total 22 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Date & Time                             17280 non-null  object
 1   Wind Speed m/s                          17280 non-null  float64
 2   Active Power kW                         17280 non-null  float64
 3   Reactive Power kVar                     17280 non-null  float64
 4   Volatge- Phase R                        17280 non-null  float64
 5   Volatge- Phase Y                        17280 non-null  float64
 6   Volatge- Phase B                        17280 non-null  float64
 7   Current - Phase R                       17280 non-null  float64
 8   Current - Phase Y                       17280 non-null  float64
 9   Current - Phase B                       17280 non-null  float64
 10  Ambient temperature                     17280 non-null  float64
 11  Nacelle temperature                     17280 non-null  float64
 12  Generator RPM                           17280 non-null  float64
 13  Generator Bearing Temperature DE        17280 non-null  float64
 14  Generator Bearing Temperature NDE       17280 non-null  float64
 15  Generator winding temperature R Phase   17280 non-null  float64
 16  Generator winding temperature Y Phase   17280 non-null  float64
 17  Generator winding temperature B Phase   17280 non-null  float64
 18  Gearbox oil Temperature                 17280 non-null  float64
 19  Gearbox high speed bearing Temperature  17280 non-null  float64
 20  Hydraulic oil temperature               17280 non-null  float64
 21  Average Phase current                   17280 non-null  float64
dtypes: float64(21), object(1)
memory usage: 2.9+ MB

In [63]:
df2["voltage"] = (df2["Volatge- Phase R"] + df2["Volatge- Phase B"]+ df2["Volatge- Phase Y"])/3
df2["current"]  = (df2["Current - Phase R"] + df2["Current - Phase B"]+ df2["Current - Phase Y"] +df2["Average Phase current"])/4
df2["Gearbox & Bearing temp"]  = (df2["Gearbox oil Temperature"]+ df2["Generator winding temperature R Phase"]+df2["Generator winding temperature Y Phase"]+df2["Generator winding temperature B Phase"]+ df2["Generator Bearing Temperature DE"]+ df2["Generator Bearing Temperature NDE"]+df2["Gearbox high speed bearing Temperature"])/6


df2.drop(["Reactive Power kVar","Volatge- Phase R","Volatge- Phase Y","Volatge- Phase B","Current - Phase R","Current - Phase B","Current - Phase Y","Gearbox oil Temperature","Generator winding temperature R Phase","Generator winding temperature Y Phase","Generator winding temperature B Phase","Generator Bearing Temperature DE","Generator Bearing Temperature NDE","Average Phase current","Gearbox high speed bearing Temperature"], axis='columns', inplace=True)

In [64]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17280 entries, 0 to 17279
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date & Time                17280 non-null  object
 1   Wind Speed m/s             17280 non-null  float64
 2   Active Power kW            17280 non-null  float64
 3   Ambient temperature        17280 non-null  float64
 4   Nacelle temperature        17280 non-null  float64
 5   Generator RPM              17280 non-null  float64
 6   Hydraulic oil temperature  17280 non-null  float64
 7   voltage                    17280 non-null  float64
 8   current                    17280 non-null  float64
 9   Gearbox & Bearing temp     17280 non-null  float64
dtypes: float64(9), object(1)
memory usage: 1.3+ MB

### AE59_2

In [70]:
df3 = pd.read_csv(url2)
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17280 entries, 0 to 17279
Data columns (total 22 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Date & Time                             17280 non-null  object
 1   Wind Speed m/s                          17280 non-null  float64
 2   Active Power kW                         17280 non-null  float64
 3   Reactive Power kVar                     17280 non-null  float64
 4   Volatge- Phase R                        17280 non-null  float64
 5   Volatge- Phase Y                        17280 non-null  float64
 6   Volatge- Phase B                        17280 non-null  float64
 7   Current - Phase R                       17280 non-null  float64
 8   Current - Phase Y                       17280 non-null  float64
 9   Current - Phase B                       17280 non-null  float64
 10  Ambient temperature                     17280 non-null  float64
 11  Nacelle temperature                     17280 non-null  float64
 12  Generator RPM                           17280 non-null  float64
 13  Generator Bearing Temperature DE        17280 non-null  float64
 14  Generator Bearing Temperature NDE       17280 non-null  float64
 15  Generator winding temperature R Phase   17280 non-null  float64
 16  Generator winding temperature Y Phase   17280 non-null  float64
 17  Generator winding temperature B Phase   17280 non-null  float64
 18  Gearbox oil Temperature                 17280 non-null  float64
 19  Gearbox high speed bearing Temperature  17280 non-null  float64
 20  Hydraulic oil temperature               17280 non-null  float64
 21  Average Phase current                   17280 non-null  float64
dtypes: float64(21), object(1)
memory usage: 2.9+ MB

In [71]:
df3["voltage"] = (df3["Volatge- Phase R"] + df3["Volatge- Phase B"]+ df3["Volatge- Phase Y"])/3
df3["current"]  = (df3["Current - Phase R"] + df3["Current - Phase B"]+ df3["Current - Phase Y"] +df3["Average Phase current"])/4
df3["Gearbox & Bearing temp"]  = (df3["Gearbox oil Temperature"]+ df3["Generator winding temperature R Phase"]+df3["Generator winding temperature Y Phase"]+df3["Generator winding temperature B Phase"]+ df3["Generator Bearing Temperature DE"]+ df3["Generator Bearing Temperature NDE"]+df3["Gearbox high speed bearing Temperature"])/6


df3.drop(["Reactive Power kVar","Volatge- Phase R","Volatge- Phase Y","Volatge- Phase B","Current - Phase R","Current - Phase B","Current - Phase Y","Gearbox oil Temperature","Generator winding temperature R Phase","Generator winding temperature Y Phase","Generator winding temperature B Phase","Generator Bearing Temperature DE","Generator Bearing Temperature NDE","Average Phase current","Gearbox high speed bearing Temperature"], axis='columns', inplace=True)

In [72]:
df3

               Date & Time  Wind Speed m/s  ...   current  Gearbox & Bearing temp
0      14/07/2018 00:00:00            11.2  ...  395.0675              119.016667
1      14/07/2018 00:00:10            11.6  ...  461.9675              119.083333
2      14/07/2018 00:00:20             9.9  ...  464.1675              119.050000
3      14/07/2018 00:00:30            12.3  ...  442.8675              119.200000
4      14/07/2018 00:00:40            12.4  ...  467.3325              119.233333
...                    ...             ...  ...       ...                     ...
17275  15/07/2018 23:59:10            10.8  ...  456.1000              108.183333
17276  15/07/2018 23:59:20            10.3  ...  462.5325              108.200000
17277  15/07/2018 23:59:30            11.0  ...  459.4675              108.350000
17278  15/07/2018 23:59:40            10.5  ...  465.1675              108.550000
17279  15/07/2018 23:59:50            10.6  ...  453.3000              108.566667

[17280 rows x 10 columns]