<a href="https://colab.research.google.com/github/entc-17-fyp-20/CM_Data_Visualizing/blob/akeshala/Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Intro

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from numpy.random import seed

In [ ]:
url1 = 'https://raw.githubusercontent.com/entc-17-fyp-20/Datasets/main/S6%2010%20seconed%20data.csv' #S6 10 seconed data.csv
url2 = 'https://raw.githubusercontent.com/entc-17-fyp-20/Datasets/main/AE59_1.csv' #AE59_1
url3 = 'https://raw.githubusercontent.com/entc-17-fyp-20/Datasets/main/AE59_2.csv' #AE59_2
url4 = 'https://raw.githubusercontent.com/entc-17-fyp-20/Datasets/main/V08%20June%2010%20sec%20data.csv' #V08 June 10 sec data.csv
url5 = 'https://raw.githubusercontent.com/entc-17-fyp-20/Datasets/main/V13%20June%2010%20sec%20data.csv' #V13 June 10 sec data.csv
url6 = 'https://raw.githubusercontent.com/entc-17-fyp-20/Datasets/main/V08%20July%2010%20sec%20data.csv' #V08 July 10 sec data.csv
url7 = 'https://raw.githubusercontent.com/entc-17-fyp-20/Datasets/main/V13%20July%2010%20sec%20data.csv' #V13 July 10 sec data.csv

#V08 June

In [ ]:
df4 = pd.read_csv(url4)

In [ ]:
df4.describe()

       Voltage Phase R  ...  Gearbox Bearing Temperature
count     99867.000000  ...                 99867.000000
mean        581.078652  ...                    70.372004
std           8.558471  ...                    11.306668
min         536.300000  ...                   -62.900000
25%         575.200000  ...                    69.900000
50%         582.300000  ...                    73.400000
75%         587.400000  ...                    75.300000
max         606.000000  ...                    77.500000

[8 rows x 20 columns]

In [ ]:
df4 = df4[df4['Generator RPM']!=0] # Removing rows with zero Generator RPM
df4 = df4[df4['Gearbox oil Temperature']>0] # Removing rows with zero Generator RPM

In [ ]:
df4

                Date & Time  ...  Gearbox Bearing Temperature
83647   11/06/2021 16:21:10  ...                         33.6
83648   11/06/2021 16:21:20  ...                         33.7
83649   11/06/2021 16:21:30  ...                         33.7
83651   11/06/2021 16:21:50  ...                         33.7
83652   11/06/2021 16:22:00  ...                         33.6
...                     ...  ...                          ...
190075  30/06/2021 23:59:10  ...                         72.2
190076  30/06/2021 23:59:20  ...                         72.3
190077  30/06/2021 23:59:30  ...                         72.4
190078  30/06/2021 23:59:40  ...                         72.3
190079  30/06/2021 23:59:50  ...                         72.3

[99452 rows x 21 columns]

#V08 July